[Unit]
Description=AGILENT33521A IOC %p%I
After=rc-local.service
Wants=rc-local.service
After=network-online.target
Wants=network-online.target

[Service]
# Source environment
EnvironmentFile=/etc/sysconfig/agilent33521a-epics-ioc
EnvironmentFile=/etc/sysconfig/agilent33521a-epics-ioc-mapping
# Execute pre with root
PermissionsStartOnly=true
Environment=AGILENT33521A_INSTANCE=%i
ExecStartPre=/bin/mkdir -p /var/log/procServ/%p%i
ExecStartPre=/bin/mkdir -p /var/run/procServ/%p%i
WorkingDirectory=/opt/epics/startup/ioc/agilent33521a-epics-ioc/iocBoot/iocagilent33521a
# Run procServ with IOC
ExecStart=/bin/bash -c "\
    AGILENT33521A_CURRENT_PV_AREA_PREFIX=AGILENT33521A_${AGILENT33521A_INSTANCE}_PV_AREA_PREFIX && \
    AGILENT33521A_CURRENT_PV_DEVICE_PREFIX=AGILENT33521A_${AGILENT33521A_INSTANCE}_PV_DEVICE_PREFIX && \
    AGILENT33521A_CURRENT_DEVICE_IP=AGILENT33521A_${AGILENT33521A_INSTANCE}_DEVICE_IP && \
    AGILENT33521A_CURRENT_DEVICE_PORT=AGILENT33521A_${AGILENT33521A_INSTANCE}_DEVICE_PORT && \
    AGILENT33521A_CURRENT_DEVICE_TELNET_PORT_SUFFIX=AGILENT33521A_$${AGILENT33521A_INSTANCE}_TELNET_PORT_SUFFIX && \
    AGILENT33521A_PV_AREA_PREFIX=${!AGILENT33521A_CURRENT_PV_AREA_PREFIX} && \
    AGILENT33521A_PV_DEVICE_PREFIX=${!AGILENT33521A_CURRENT_PV_DEVICE_PREFIX} && \
    AGILENT33521A_DEVICE_IP=${!AGILENT33521A_CURRENT_DEVICE_IP} && \
    AGILENT33521A_DEVICE_PORT=${!AGILENT33521A_CURRENT_DEVICE_PORT} && \
    /usr/local/bin/procServ \
    -f \
    -n %p%i \
    -i ^C^D \
    $${PROCSERV_AGILENT33521A_PORT_PREFIX}$${!AGILENT33521A_CURRENT_DEVICE_TELNET_PORT_SUFFIX} \
    ./runAgilent33521a.sh \
    -i ${AGILENT33521A_DEVICE_IP} \
    -p ${AGILENT33521A_DEVICE_PORT} \
    -P ${AGILENT33521A_PV_AREA_PREFIX} \
    -R ${AGILENT33521A_PV_DEVICE_PREFIX}"

[Install]
WantedBy=multi-user.target
